

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

header{
    /* border: 1px solid; */
     position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    /* box-shadow: 0px 1px 0.15px 0.2px; */

}


nav{
    /* border: 1px solid red; */
    min-height: 80px;
    width: 69%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.nav-links{
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #081F89;
    font-weight: 600;
    font-size: 14PX;
}

.logo{
    height: 75px;
    background: transparent;
}


.hero-section{
    /* border: 1px solid red; */
    min-height: 50dvh;
    background-image: linear-gradient(to right,white, #fffdf3);
    margin-top: 60px;
    
   
    
}

.hero-section>div{
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    margin: auto;
}

.herobox{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    /* border: 1px solid red; */
    
}

.inner-box{
    /* border: 1px solid red; */
    width: 72%;
    margin: auto;

    
}

.h2{
    font-size: 64px;
    font-weight: 700;
    color: #05154d;
}

.pp{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #2c1402;
    /* border: 1px solid red; */
    width: 112%;
}

.button1{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: #00208a;
    margin-top: 10px;
    border: none;
}

.button-text{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-img{
    height: 500px;
}

.second-sec{
    /* border: 1px solid red; */
    margin-top: 60px;
    min-height: 50dvh;
    

}

.p1{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    color: #050754;
    font-size: 42px;
    font-weight: 600;
}

.parent1{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 88px;
   
    
}

.img1{
    width: 310px;
    filter: grayscale(100%);
    

}


.p2{
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
}

.innerp{
    width: 27.05%;
    
}

.innerp1{
    width: 27%;
    
}

.innerp2{
    width: 26%;
    
}

.h4{
    margin-top: 30px;
    color: #000e54;
}

.button2{
    margin-top: 40px;
    background-color: none;
   border: none;
   background: transparent;
   border-bottom: 3px solid;
}


.a1{
    font-size: 16px;
    font-weight: 500;
    color: #182539;
    
}

.thirdsection{
    /* border: 1px solid red; */
    margin-top: 100px;



}

.parent2{
    /* border: 1px solid red; */
    min-height: 50dvh;
    width: 70%;
    display: flex;
    margin: auto;
    gap: 60px;
}

.innerp3{
    /* border: 1px solid red; */
    width: 35%;
}
.innerp4{
    /* border: 1px solid red; */
    width: 35%;
}
.innerp5{
    /* border: 1px solid red; */
    width: 35%;
}


.p3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.span1{
    font-size: 16px;
    font-weight: 700;
    
}


hr{
    border: none;
    height: 1px;
    background-color: #89cbf7;
}

.inner4>h3{
    font-size: 16px;
    font-weight: 700;
}


.top-courses{
    /* border: 1px solid red; */
    min-height: 70dvh;
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.top-courses .p{
    margin-top: 10px;
}





.first-cont{
   /* border: 1px solid red; */
    width: 47%;
    min-height: 70dvh;

}
.first-cont>div{
    /* border: 1px solid red; */
    min-height: 30dvh;
    border-radius: 15px;
    margin-top: 10px;

}
.second-cont{
    /* border: 1px solid red; */
    width: 47%;
    min-height: 70dvh;

}

.fcsd-img{
    border-radius: 10px;
    width: 100%;
}

.fcsd{
    background-color: #d5eaf3;
    box-shadow: 0px 30px 20px 20px #d7ecdb;
    margin: 12% auto;
    border-radius: 15px;
    overflow: hidden;
}


.fctd{
    background-color: #e0d5c0;
    margin-top: 70px;
    box-shadow: 0px 30px 20px 20px #d7ecdb;
    border-radius: 15px;
    overflow: hidden;
}



.scfd{
    background-color: #eeefbd;
    box-shadow: 0px 30px 20px 20px #ffdfd9;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.scsd{
    background-color: #dfd5e8;
    margin-top: 30px;
    box-shadow: 0px 30px 20px 20px #ffdfd9;
    border-radius: 15px;
    overflow: hidden;
}



.fcsd-inner{
    /* border: 1px solid red; */
    width: 70%;
    margin: 12% auto;
    /* padding: auto; */
}
.second-cont>div{
    /* border: 1px solid red; */
    width: 100%;
    min-height: 70dvh;

}

.fctd-inner{
    /* border: 1px solid red; */
    width: 70%;
    margin: 12% auto;
    /* padding: auto; */
}

.fctd-inner>img{
    width: 100%;
    border-radius: 10px;
}

.second-cont>div{
    border-radius: 15px;
}

.scfd-inner{
    /* border: 1px solid red; */
    width: 71%;
    margin: 10% auto;
    /* padding: auto; */
}
.scfd-inner>img{
    border-radius: 10px;
    width: 100%;
    
}

.scsd-inner{
    /* border: 1px solid red; */
    width: 71%;
     margin: 13% auto;  
    
}

.scsd-inner>img{
    width: 100%;
    border-radius: 10px;
    
}

.first-cont .p{
    margin-top: 10px;

}


.fcfd>h2{
    font-size: 48px;
    font-weight: 600;
    

}
.fcfd>P{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10PX;
    

}
.fcfd>button{
    border: none;
    background: transparent;
    margin-top: 30PX;
    border-bottom: 1px solid;
    

}

.fcsd-inner>h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}
.fcsd-inner>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.fcsd-inner>button{
     border: none;
    background: transparent;
    margin-top: 30PX;
    border-bottom: 1px solid;
}


.fctd-inner>h2{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;

}
.fctd-inner>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;

}
.fctd-inner>button{
     border: none;
    background: transparent;
    margin-top: 30PX;
    border-bottom: 1px solid;

}

.scfd-inner>h2{
     font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}
.scfd-inner>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.scfd-inner>button{
    border: none;
    background: transparent;
    margin-top: 30PX;
    border-bottom: 1px solid;
}

.scsd-inner>h2{
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;

}
.scsd-inner>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;

}
.scsd-inner>button{
     border: none;
    background: transparent;
    margin-top: 30PX;
    border-bottom: 1px solid;

}


.fifth-section{
    margin-top: 150px;

}



.h33{
    font-size: 27px;
    font-weight: 600;
}


.h33-parent{
    border: 1px solid;
    width: 70%;
    margin: auto;
}
.h33-inner{
    border: 1px solid;
    width: 55%;
}

.container{
    border: 1px solid red;
    min-height: 40dvh;
    width: 60%;
    margin:70px auto;
    display: grid;
    grid-template-columns: repeat(4, 200px 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    column-gap: 100px;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: colum wrap; */
}

.container>div{
    height: 100px;
}





.sixth-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    background-image: url(./Media/DSC_9054-scaled.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 12%;
}

.parent4{
   /* border: 1px solid red; */
    width: 70%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    
}

.fifthsecdiv{
    /* border: 1px solid red; */
    width: 400px;
    height: 230px;
    margin-top: 60px;
    border-radius: 10px;   
    
}




.img{
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
}

.img2{
    border-radius: 10px;
}


.innerp6{
    /* border: 1px solid red; */
    width: 60%;
    margin-top: 65px;
}

.hh{
    font-size: 48px;
    font-weight: 700;
    color: white;
    
}

.ppp{
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}

.bubu{
    margin-top: 20px;
    border: 1px solid;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    background-color: #00208a;
}


.bubu>a{
    color: white;
}


.seventh-section{
    border: 1px solid red;
    min-height: 70dvh;
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}


.s-s-text{
    border: 1px solid red;
    font-size: 38px;
    font-weight: 600;
    height: fit-content;
    margin-left: 50px;
    width: 500px;
    margin-bottom: 20%;
    padding-left: 4%;
    
}


.third-cont{
    border: 1px solid red;
    min-height: 50dvh;
    width: 30%;
    margin-top: 9%;
}
.third-cont>div{
    border: 1px solid red;
    min-height: 20dvh;
    width: 90%;
   
}
.forth-cont{
    border: 1px solid red;
    min-height: 50dvh;
    width: 30%;
    margin-top: 20%;
}
.forth-cont>div{
    border: 1px solid red;
    min-height: 20dvh;
    width: 85%;
    
}
.fifth-cont{
    border: 1px solid red;
    min-height: 70dvh;
    width: 30%;
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/01/conference_image_15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}




.s-s-p{
    font-size: 20px;
    font-weight: 500;
    
}

.tcfd{


}

.tcsd{
    margin-top: 35%;

}




.tctd{
    margin-top: 35%;

}

.tcforthd{
    margin-top: 35%;

}


.forth-cont-f-d{

}

.forth-cont-s-d{
    margin-top: 35%;

}

.forth-cont-t-d{
    margin-top: 35%;

}

.forth-cont-forth-d{
    margin-top: 35%;
   

}

.s-s-d{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}







