

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

header{
    /* border: 1px solid red; */
    box-shadow: 0px 1px 0.15px 0.2px;
}


nav{
    /* border: 1px solid red; */
    min-height: 80px;
    width: 69%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.nav-links{
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #081F89;
    font-weight: 600;
    font-size: 14PX;
}

.logo{
    height: 75px;
}


.hero-section{
    /* border: 1px solid red; */
    min-height: 50dvh;
    background-image: linear-gradient(to right,white, #fffdf3);
}

.hero-section>div{
    /* border: 1px solid red; */
    width: 80%;
    display: flex;
    margin: auto;
}

.herobox{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    /* border: 1px solid red; */
    
}

.inner-box{
    /* border: 1px solid red; */
    width: 72%;
    margin: auto;

    
}

.h2{
    font-size: 64px;
    font-weight: 700;
    color: #05154d;
}

.pp{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #2c1402;
    /* border: 1px solid red; */
    width: 112%;
}

.button1{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: #00208a;
    margin-top: 10px;
}

.button-text{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-img{
    height: 500px;
}

.second-sec{
    /* border: 1px solid red; */
    margin-top: 60px;
    min-height: 50dvh;

}

.p1{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    color: #050754;
    font-size: 42px;
    font-weight: 600;
}

.parent1{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 88px;
   
    
}

.img1{
    width: 310px;
    

}


.p2{
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
}

.innerp{
    width: 27.05%;
    
}

.innerp1{
    width: 27%;
    
}

.innerp2{
    width: 26%;
    
}

.h4{
    margin-top: 30px;
    color: #000e54;
}

.button2{
    margin-top: 40px;
    background-color: none;
   border: none;
   background: transparent;
   border-bottom: 3px solid;
}


.a1{
    font-size: 16px;
    font-weight: 500;
    color: #182539;
    
}

.thirdsection{
    /* border: 1px solid red; */
    margin-top: 100px;



}

.parent2{
    /* border: 1px solid red; */
    min-height: 50dvh;
    width: 70%;
    display: flex;
    margin: auto;
    gap: 60px;
}

.innerp3{
    /* border: 1px solid red; */
    width: 35%;
}
.innerp4{
    /* border: 1px solid red; */
    width: 35%;
}
.innerp5{
    /* border: 1px solid red; */
    width: 35%;
}


p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

span{
    font-size: 16px;
    font-weight: 700;
    
}


hr{
    border: none;
    height: 1px;
    background-color: #89cbf7;
}

.inner4>h3{
    font-size: 16px;
    font-weight: 700;
}




